body, html {
  height: 100%;
}

h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.full-height {
  height: 100%;
}

#no-padding {
  padding: 0px;
}

#footer {
  padding-top: 20px;
  padding-bottom: 10px;
}

.parallax { 
  background-image: url("/img/Logo1.svg");
  background-color: #611b52;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.glyphicon-chevron-down {
  top: 92% !important;
  color: white;
  font-size: 40px;

  transition: opacity .5s ease-out;
}

.disappear {
  opacity: 0;
}

.border-radius {
  border-radius: 10px;
}

#nav {
  font-size: 15px;
}

#reemploy {
  left: 65px;
  padding-top: 20px;
}

#portrait {
  width: 45%;
  border-radius: 15%;
  float: left;
  padding-right: 15px;
}

#linkedin {
  width: 5%;
}

#resume {
  width: 7%;
  margin-top: -1px;
}

.glyphicon-envelope {
  top: 15px !important;
  font-size: 35px;
  color: black;
}

.glyphicon-earphone {
  top: 10px !important;
  padding-left: 5px;
  font-size: 30px;
  color: black;
}

.align-left {
  text-align: left;
}

#about {
  padding-top: 20px;
}

.image-size {
  width: 80%;
  padding-bottom: 5px;
}

.invision-size {
  width: 50%;
}

.project-view {
  width: 20%;
  padding-right: 5px;
}